* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Fira Code', monospace;
}
body {
  background: #212121;
}
canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.7;
}
nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 4rem; 
  height: 100%; 
  background: #212121;
  display: flex;
  flex-direction: column; 
  justify-content: space-between;
  align-items: center;
  padding-bottom: 4rem; 
  padding-top: 4rem;
  box-shadow: 0 0 20px #000000;
  opacity: 0.9;
}
.button {
  position: relative;
  width: 2rem;
  height: 2rem;
  font-size: 0.8rem;
  background: #4f4f4f;
  color: #c8c8c8;
  border: 1px solid #3c3c3c;
  padding-top: 0.2rem;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  box-shadow: 0 0 5px #00000032;
  margin: 0.4rem 0;
}
#btn4 {
  margin-top: 50vh;
}
.tableButton {
  position: relative;
  width: 5.2rem;
  height: 2.4rem;
  font-size: 0.8rem;
  background: #4f4f4f;
  color: #c8c8c8;
  border: 1px solid #3c3c3c;
  border-radius: 8px;
  outline: none;
  box-shadow: 0 0 5px #00000032;
  margin: 0.4rem 0;
  opacity: 0.25;
}
.tableButton:not(:disabled) {
  cursor: pointer;
  opacity: 1;
}
.tableButton:not(:disabled):hover {
  background: #c8c8c8;
  color: #212121;
}
#menu {
  position: absolute;
  background-color: #212121;
  border-radius: 12px;
  padding: 1.2rem; 
  color: #c8c8c8;
  border: 1px solid #3c3c3c;
  left: 85%; 
  top: 15vh;
}
.button:hover {
  background: #c8c8c8;
  color: #212121;
}
.button:hover .nav-icon path {
  fill: #212121;
}
.button:active {
  background: #212121;
  color: #c8c8c8;
}

